div {
    background-color: blueviolet;
}

body {
    background-image: url('watercolor.png');
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    color: #FFBc00;
    font-size: 40px;
    font-family: 'Passion One', cursive;
    margin-bottom: 0px;
}

li {

}

#Header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
}

#Header h1 {
    font-size: 60px;
    font-family: 'Passion One', cursive;
    color: #FFBc00;
    font-weight: bold;
}

#LeftNav {
    border: solid 8px black;
    width: 400px;
    float: left;
    text-align: center;
}

#LeftNav img{
    
}

#LeftNav ul {

}

#LeftNav h3{
    
}

#Content {
    border: solid 8px black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#Footer{
    border: solid 8px black;
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
    padding: 0;
    display: block;
}

ul a:hover {
    background-color: #FFBc00;
    color: black;
}

ul a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
  

a{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

input[type=button], input[type=submit] {
    background-color: #FFBc00;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  }

img {
    opacity: 0.6;
}

input[type=text]:focus,input[type=password]:focus, textarea:focus {
    border: 3px solid #555;
    background-color: blueviolet;
    color: white;
}

input[type=text], input[type=password], textarea {
    border: 3px solid #555;
    color: black;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family:fantasy;
}